body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    background:beige;
    margin-left: 10%;
    margin-right: 10%;
    text-align:left;
}
h1 { 
    display: block;
    font-size: 2em;
    padding: 10px;
    margin: 25px;
    font-weight: bold;
    color: rgb(252, 241, 96);
    text-shadow: 2px 2px #0051ff;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgb(30, 148, 60);
}

#searchArea {
    float: right;
}